{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Event{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Titulo del evento</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Descripcion del evento</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="dateEvent">Fecha del evento</label>
    <input name="dateEvent" id="dateEvent" type="date" value="{{ request.form['dateEvent'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}